* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}

/* Cores
   background-color: #000000;
   color: #034001;
   color: #D90D1E;
   color-hover: #F2D091;
   color: #0511F2;
   color: #3498BF;
*/

header {
  position: relative; /* Fixed */
  top: 0;
  left: 0;
  right: 0; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000000;
  z-index: 1000;
}

header .navbar a {
  color: #f2d091;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0rem 1rem;
}

header .navbar a:hover {
  color: #d90d1e;
}

#menu-bar {
  font-size: 1rem;
  color: #000000;
  background-color: #ccc;
  border: 10px solid #ccc;
  cursor: pointer;
  display: none;
}

header .navbar.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/*Destaque-top inicio */

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 21px;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.center-top {
  width: 100%;
}

.center-top h2 {
  color: #d90d1e;
  font-size: 25px;
  font-weight: bolder;
  text-indent: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.center-top .p-desktop {
  color: #000000;
  font-size: 20px;
  text-indent: 30px;
}

.center-top .p-desktop span {
  color: #d90d1e;
  font-weight: bolder;
}

.center-top .p-mobile {
  display: none;
}

.img-mobile {
  display: none;
}

/*Destaque-top fim */

.lanches-specialidades {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url('../img/meio-12.jpg');
  background-repeat: no-repeat;
  background-position: 702px -92px;
}

.lanches-specialidades{
    color: #000000;
    font-size: 20px;
    text-indent: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.lanches-specialidades h2 {
  color: #d90d1e;
  font-size: 25px;
  text-align: center;
  margin: 30px 0px;
}

.container-lanches {
  width: 80%;
  margin: 0 auto; 
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem; 
 display: none; 
} 


.box-dog {
  width: 300px;
} 

.box-dog h3 {
  color: #d90d1e;
  text-transform: uppercase;
} 

.box-dog p{
    margin-bottom: 39px;
}

 swiper-container {
  width: 80%;
  height: 50%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.lanches-Delivery{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.lanches-Delivery h2 {
  color: #d90d1e;
  font-size: 25px;
  text-align: center;
  margin: 30px 0px;
}

/*Img Carousel*/
.img-mob{
  display: none;
}

.img-desktop{
  display: block;
}

.ifood{
  display: none;
}

.ifood-2{
  display: block;
}

/* Formulario de Contato*/
.Text-Contato{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.form-container {
  text-align: center;
  margin-top: -22px;
}

.form-container h2 {
  color: #d90d1e;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.contact-form {
  width: 500px;
 margin: 0 auto;
  text-align: left;
}

.contact-form input,
.contact-form label,
.contact-form textarea {
  display: block;
  padding: 10px;
  border: 1px solid #EEE;
  width: 100%;
  color: #000000;
}

.contact-form label {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: none;
}

.contact-form input {
  margin-bottom: -3px;
  border: 1px solid #000000;
  outline: none;
}

.contact-form textarea {
  margin-bottom: 15px;
  border: 1px solid #000000;
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #000000;
  
}

.contact-form input[type="submit"] {
  background-color: #000000;
  color: #e2fcef;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
  margin: 30px auto;
  border: 2px solid transparent;
  transition: .5s;
}

.contact-form input[type="submit"]:hover {
  border-color: #000000;
  color: #000000;
  background-color: #e2fcef;
}

/*Footer*/

footer{
  background-color: #000000;
}

.footer-end{
  width: 100%;
  margin: 0 auto; 
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 5px;
}

.footer-end .box{
  width: 300px;
  color: #f2d091;
}

.footer-end .box h4{
  color: #f2d091;
  font-size: 20px;
  padding-top: 30px;
}

.footer-end .box h4:hover{
  color: #d90d1e;
}

.footer-end .box ul{
  padding-top: 30px;
}

.footer-end .box ul li a{
  color: #f2d091;
  font-size: 16px;
  padding-top: 40px;
}

.footer-end .box ul li a:hover{
  color: #d90d1e;
}

.footer-Copy p{
  color: #f2d091;
  text-align: center;
  padding-top: 30px;
}

.footer-Copy p:hover{
  color: #d90d1e;
}

.img-mobile figcaption{
  display: none;
}

@media (max-width: 991px) {
  .container{
    display: block;
  }
}

@media (max-width: 768px) {

  #menu-bar {
    display: initial;
    position: relative;
    top: 0px;
    right: -9px;
  }

  .img-mob{
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #000000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar a {
    margin: 0.5rem;
    padding: 0.5rem;
    display: block;
    border-left: 0.3rem solid #f2d091;
  }
  header .navbar a:hover {
    color: #d90d1e;
    border-left: 0.3rem solid #d90d1e;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .p-desktop {
    display: none;
  }

  .p-mobile{
    font-size: 17px;
  }

  .center-top .p-mobile {
    display: block;
    margin-top: 30px;
  }

  .center-top h2 {
    margin: 2px 0px;
  }

  .lanches-specialidades h2{
    font-size: 22px;
    text-align: left;
    margin: 10px 0px;
  }

  .lanches-specialidades p{
   font-size: 17px;
  }

  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
  }
  .mySwiper{
    display: block;
    gap: 30px;
  }
  swiper-slide img {
    display: block;
    width: 122px;
    height: 200px;
    margin-left: 10px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .box-dog h3{
    font-size: 15px;
    margin-bottom: 30px;
  }

  .box-dog span{
    display: none;
  }

  .desk{
    display: none;
  }

  .box-dog p {
    display: none;
  }

  .map{
    width: 300px;
    height: 200px;
  }
  /* .container-lanches{
    display: block;
  } */
  .ifood-2{
    display: none;
  }
  .ifood{
    display: block;
  }
  .footer-end{
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 400px) {
}